body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

.cabecera {
    display: flex;
    display: block;
    text-align: center;
    padding: 30px;
}

.cabecera > h1 {
    font-size: 25px;
}

#containerCabecera {
    border: 1px #000 solid;
}

.contenidoTema {
    font-size: 17px;
    margin-top: 15px;
    width: 70%;
}

.tema {
    margin-top: 20px;
    border: 1px #000 solid;
}

.imgTemaLlaves {
    width: 50%;
    margin-left: 10%;
}

#containerFooter {
    background-color: bisque;
}



.redes {
    background-color: antiquewhite;
    color: #222;
    list-style: none;
}

.derechos {
    border: 1px #000 solid;
}