body {
    background-color: beige;
}

.cabecera {
    display: flex;
    display: block;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

#containerCabecera {
    border: 1px #000 solid;
}