body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

.cabecera {
    display: flex;
    display: block;
    text-align: center;
    padding: 30px;
}

.cabecera > h1 {
    font-size: 25px;
}

#containerCabecera {
    border: 1px #000 solid;
}